<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.username}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:text="${user.getRoles()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<!--LEFT NAV BAR-->
<div class="row">
    <!--    Left-->
    <div class="col-2">
        <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>

        </div>
    </div>
    <!--    Right-->
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">

            <!--Admin Page-->
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                <!--Content of LEFT NAV BAR-->
                <h1 class="m-3 font-weight-bold">Admin panel</h1>
                <!-- Admin tabs               -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <!--Tables cards-->
                <div class="tab-content" id="nav-tabContent">
                    <!--Users-->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="card">
                            <div class="bg-white p-2 pl-4 font-weight-bold"><h5>All users</h5></div>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="usr : ${usersList}">
                                    <td th:text="${usr.id}"></td>
                                    <td th:text="${usr.name}"></td>
                                    <td th:text="${usr.username}"></td>
                                    <td th:text="${usr.age}"></td>
                                    <td th:text="${usr.email}"></td>
                                    <td th:text="${usr.getRoles()}"></td>

                                    <td>
                                        <button type="button" class="btn btn-info" style="color: white"
                                                data-toggle="modal" th:data-target="${'#edit' + usr.id}">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" style="color: white"
                                                data-toggle="modal" th:data-target="${'#delete' + usr.id}">
                                            Delete
                                        </button>
                                    </td>

                                    <!--        Modal window EDIT-->
                                    <div class="modal fade" th:id="${'edit' + usr.id}" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center font-weight-bold">
                                                    <form th:action="@{/admin/update/{id}(id=${usr.getId()})}"
                                                          th:object="${usr}" th:method="POST">
                                                        <div class="form-group container-fluid col-md-8 bg-white text-center">
                                                            <div class="modal-body text-center">
                                                                <div class="form-group">
                                                                    <label for="edId"
                                                                           class="col-form-label">ID</label>
                                                                    <input class="form-control"
                                                                           type="number"
                                                                           th:value="${usr.id}" readonly
                                                                           id="edId"
                                                                           name="id">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="name"
                                                                           class="col-form-label">First Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="name"
                                                                           th:value="${usr.name}"
                                                                           name="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="surname"
                                                                           class="col-form-label">Last Name</label>
                                                                    <input type="text" class="form-control"
                                                                           id="surname"
                                                                           th:value="${usr.username}"
                                                                           name="surname">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="age"
                                                                           class="col-form-label">Age</label>
                                                                    <input type="number" class="form-control"
                                                                           id="age" name="age"
                                                                           th:value="${usr.age}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email"
                                                                           class="col-form-label">Email</label>
                                                                    <input type="text" class="form-control"
                                                                           id="email" name="email"
                                                                           th:value="${usr.email}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="edPassword"
                                                                           class="col-form-label">Password</label>
                                                                    <input type="text" class="form-control"
                                                                           id="edPassword" name="password"
                                                                           th:value="${usr.password}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="role">Role</label>
                                                                    <select multiple
                                                                            class="form-control"
                                                                            size="2" id="role"
                                                                            name="role" th:field="${user.roles}">
                                                                        <option th:each="role: ${rolesList}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${usr.getRoles()}">
                                                                            <th:block
                                                                                    th:text="${role.toString()}">
                                                                            </th:block>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-primary"
                                                                   value="Edit">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--        Modal window DELETE-->
                                    <div class="modal" th:id="${'delete' + usr.id}" tabindex="-1"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete
                                                        user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="justify-content: center">
                                                    <form th:action="@{/admin/delete/{id}(id=${usr.getId()})}"
                                                          th:object="${usr}" th:method="POST">
                                                        <div class="form-group container-fluid col-md-8 bg-white text-center">
                                                            <div class="modal-body text-center font-weight-bold">
                                                                <div class="form-group">
                                                                    <label for="delitId"
                                                                           class="col-form-label">ID</label>
                                                                    <input class="form-control" type="text"
                                                                           id="delitId"
                                                                           name="id" th:value="${usr.id}"
                                                                           readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="delFirstname"
                                                                           class="col-form-label">First Name
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                           id="delFirstName"
                                                                           th:value="${usr.name}"
                                                                           name="username" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="delFirstname"
                                                                           class="col-form-label">Last Name
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                           id="delSecondName"
                                                                           th:value="${usr.username}"
                                                                           name="username" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="delAge"
                                                                           class="col-form-label">Age
                                                                    </label>
                                                                    <input type="number" class="form-control"
                                                                           id="delAge"
                                                                           th:value="${usr.age}"
                                                                           name="age" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="delEmail"
                                                                           class="col-form-label">Email
                                                                    </label>
                                                                    <input type="text" class="form-control"
                                                                           id="delEmail"
                                                                           th:value="${usr.email}"
                                                                           name="email" readonly>
                                                                </div>
                                                                <div class="form-group">
                                                                    <strong><label
                                                                            for="delRole">Role</label></strong>
                                                                    <select multiple
                                                                            class="form-control"
                                                                            size="2" id="delRole"
                                                                            name="role" disabled
                                                                            th:field="${user.roles}">
                                                                        <option th:each="role: ${rolesList}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${usr.getRoles()}">
                                                                            <th:block
                                                                                    th:text="${role.toString()}">
                                                                            </th:block>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <input type="submit" class="btn btn-danger"
                                                                   value="Delete">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--Add New User-->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="card">
                            <div class="bg-white p-2 pl-4 font-weight-bold"><h5>Add new user</h5></div>


                            <div class="text-center  font-weight-bold">
                                <form th:action="@{/admin/add_user}"
                                      th:object="${newUser}" method="post"
                                      class="offset-md-4 col-md-3 mt-4 mb-4">
                                    <div class="form-group">
                                        <label th:for="name">First Name</label>
                                        <input type="text" class="form-control" th:id="name" th:field="*{name}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="surname">Last Name</label>
                                        <input type="text" class="form-control" th:id="surname" th:field="*{username}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="age">Age</label>
                                        <input type="number" class="form-control" th:id="age" th:field="*{age}">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="email">Email address</label>
                                        <input type="email" class="form-control" th:id="email" th:field="*{email}"
                                               placeholder="name@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label th:for="password">Password</label>
                                        <input type="password" class="form-control" th:id="password"
                                               th:field="*{password}">
                                    </div>
                                    <div class="form-group">
                                        <label for="roles">Roles</label>
                                        <select class="form-control" id="roles" multiple size="2" th:field="*{roles}">
                                            <option th:each="role: ${rolesList}"
                                                    th:value="${role.getId()}"
                                                    th:selected="${user.getRoles()}">
                                                <th:block
                                                        th:text="${role.toString()}">
                                                </th:block>
                                            </option>
                                        </select>
                                    </div>
                                    <button th:type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--User page-->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <span class="navbar-brand mb-3 h0"><h2>User information-page</h2></span>
                <div class="card">
                    <div class="bg-white p-2 pl-4 font-weight-bold"><h5>About user</h5></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>

                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.getRoles()}"></td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>

